.title{
  font-weight: bold;
  color: var(--cor2)
}

a{
  text-decoration: none !important;
}

a:hover{
  color: var(--cor6) !important;
  text-decoration: none !important;
}

.block{
 margin-bottom: 50px;
}

.button {
  text-transform: lowercase;
  font-weight: 500;
  padding-right: 1.4rem;
  padding-left: 1.4rem;
}


/* INICIO BOTÕES SLIDER */
.button-primary {
  background-color: var(--cor3)!important;
  border-color: var(--cor3)!important;
}
.button-primary:hover {
  background-color: var(--cor2)!important;
  border-color: var(--cor2)!important;
}
.button-primary-outline {
  border-color: var(--cor3)!important;
  color: var(--cor3)!important;
}
.button-primary-outline:hover {
  background-color: var(--cor2)!important;
  border-color: var(--cor2)!important;
  color: #fff!important;
}
/* FIM BOTÕES SLIDERS */
